body, html { height:100%;
	margin:0;
	padding:0;
	width:100%;
	background-color:silver;
	}
	
 /*
.contenedor{ border:1px solid black;
	width:49.5%;
	display:inline-block;
	margin:auto;
    height:49.5%;
	background-color:rgb(0, 174, 255);
	}*/
/*
	.semanario a {
		padding: 10px 0;
		color: #f2f2f2;
		text-transform: uppercase;
		display: inline-block;
		font-weight: bold;
	}*/

	.semanario a:hover {
		text-decoration: underline;
	}

	.btn-sem {
		cursor: pointer;
		display: inline-block;
		border: 0;
		font-weight: bold;
		padding: 10px 20px;
		background: #262626;
		color: #ffffff;
		font-size: 15px;
		border: 1px solid #fff;
		margin: 10px 0;
	}
	
	.btn:hover {
		opacity: .7 ;
	}

	.contenedor {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 25px;
		margin: 70px 0;
	}