<!-- Redes Sociales -->
<section class="redes-sociales">
    <p>Siguenos Universal Restaurant</p>
    <div class="links">
        <a href="#">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
</section>

<div class="footer-links">
<div class="footer-container">
    <ul>
        <li>
            <a href="">
                <h3>Para Clientes</h3>
            </a>
        </li>
        <li>
            <a href="">Registrate</a>
        </li>
        <li>
            <a href="">Conoce nuestros productos</a>
        </li>
        <li>
            <a href="">Conoce nuestros Restaurantes</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="">
                <h3>Para Restaurantes</h3>
            </a>
        </li>
        <li>
            <a href="">Trabaja con nosotros</a>
        </li>
        <li>
            <a href="">Publica tu Restaurante</a>
        </li>
        <li>
            <a href="">Enseña tus productos</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="">
                <h3>Contacto</h3>
            </a>
        </li>
        <li>
            <a href="">universalrestaurant@unicauca.edu.co</a>
        </li>
        <li>
            <a href="">018000+universalrestaurant</a>
        </li>
        <li>
            <a href="">Popayán, Cauca, Colombia</a>
        </li>
    </ul>		
</div>
</div>

<footer class="footer">
<h3>Universal Restaurant Copyright</h3>
</footer>