<!-- Redes Sociales -->
<footer >
    <div class="footer-area">   
        <div class="redes-sociales bg-dark-gray">
            <p>Siguenos Universal Restaurant</p>
            <div class="links">
                <div class="icon-container">
                    <span class="ti-facebook"></span><span class="icon-name"> Facebook</span>
                </div>
                <div class="icon-container">
                    <span class="ti-instagram"></span><span class="icon-name"> Iinstagram</span>
                </div>
                <div class="icon-container">
                    <span class="ti-twitter"></span><span class="icon-name"> Twitter</span>
                </div>
                <div class="icon-container">
                    <span class="ti-youtube"></span><span class="icon-name"> YouTube</span>
                </div>                
            </div>
        </div>        

        <div class="footer-links  bg-dark">
            <div class="footer-container">
                <ul>
                    <li>
                        <a href="">
                            <h3>Para Clientes</h3>
                        </a>
                    </li>
                    <li>
                        <a href="">Registrate</a>
                    </li>
                    <li>
                        <a href="">Conoce nuestros productos</a>
                    </li>
                    <li>
                        <a href="">Conoce nuestros Restaurantes</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="">
                            <h3>Para Restaurantes</h3>
                        </a>
                    </li>
                    <li>
                        <a href="">Trabaja con nosotros</a>
                    </li>
                    <li>
                        <a href="">Publica tu Restaurante</a>
                    </li>
                    <li>
                        <a href="">Enseña tus productos</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="">
                            <h3>Contacto</h3>
                        </a>
                    </li>
                    <li>
                        <a href="">universalrestaurant@unicauca.edu.co</a>
                    </li>
                    <li>
                        <a href="">018000+universalrestaurant</a>
                    </li>
                    <li>
                        <a href="">Popayán, Cauca, Colombia</a>
                    </li>
                </ul>		
            </div>
        </div>

        <div>        
            <p>© Copyright 2020. All right reserved. Template by Universal restaurant.</p>
        </div>
    </div>    
</footer>
