<div class="col-md-4">
    <div class="card border-warning text-center">
        <div class="card-header bg-info text-white justify-content-between align-items-center">
            Restaurante 1            
        </div>
        <!--<img [src]="restaurant.image" class="card-img-top">-->
        <img src="assets/restaurante.jpg" class="card-img-top">
        <div class="car-body bg-info">
            <p>Esta es una descripción del restaurante</p>
            <p>Categoría: Corrientazos</p>            
        </div>
    </div>
</div>