<!-- sidebar menu area start -->
<div class="sidebar-menu">
    <div class="sidebar-header">
        <div class="logo">
            <a href="restaurant-home"><img src="../../../assets/ur_logo.PNG" alt="logo"></a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" id="menu">
                    <li>
                        <a class="nav-link" routerLink="/restaurant/restaurant-list" routerLinkActive="active"><i class="ti-dashboard"></i><span>Restaurantes</span></a>                        
                        <ul class="collapse">
                            <li class="active"><a href="index.html">ICO dashboard</a></li>
                            <li><a href="index2.html">Ecommerce dashboard</a></li>
                            <li><a href="index3.html">SEO dashboard</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/restaurant/shoppingCart-list" aria-expanded="true"><i class="ti-pie-chart"></i><span>Carrito de Compras</span></a>                        
                        <ul class="collapse">
                            <li><a href="barchart.html">bar chart</a></li>
                            <li><a href="linechart.html">line Chart</a></li>
                            <li><a href="piechart.html">pie chart</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-palette"></i><span>Quienes somos</span></a>
                        <ul class="collapse">
                            <li><a href="accordion.html">Accordion</a></li>
                            <li><a href="alert.html">Alert</a></li>
                            <li><a href="badge.html">Badge</a></li>                            
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- sidebar menu area end -->
