<div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
</div>

<div class="container">
    <nav class="nav-main">
        <img src="../../../assets/ur_logo.PNG" alt="UniversalRestaurant LOGO" class="nav-brand">
        <ul class="nav-menu">				
            <li><a href="">Restaurantes</a></li>
            <li><a href="">Productos</a></li>
            <li><a href="">Carrito de compras</a></li>
            <li><a href="">Quienes somos</a></li>
        </ul>
        <ul class="nav-menu-right">
            <li>
                <a href="#">
                    <i class="fas fa-search"></i>
                </a>
            </li>
        </ul>
    </nav>
    <hr>
</div>