<div class="contenedor">
<div class="card">
    <div class="card-body">
        <form method="post">
            <!--CATEGORIA -->
            <div class="form-group">
                <label class="input-title">Categoría del producto</label>
                <!--<select [(ngModel)]="product.categories_product_id" class="form-control" id="categorySelect">
                    <option *ngFor="let category of this.categories" [(ngValue)]="category.id">{{category.name}}</option>                    
                </select>-->
                <select name="categorySelect" [(ngModel)]="product.categories_product_id" class="form-control">
                    <option *ngFor="let category of this.categories" [ngValue]="category.id" >{{category.name}}</option>                    
                </select>
            </div>
            <!-- NOMBRE PRODUCTO -->
            <div class="form-group">
                <label class="input-title">Nombre del producto</label>
                <input type="text" name="productName"  [(ngModel)]="product.name" class="form-control" placeholder="Ingrese el Producto" required>
                <small id="productHelp" class="form-text text-muted">Ingresa el nombre completo del
                    producto.</small>
            </div>
            <!-- DESCRIPCION PRODUCTO -->
            <div class="form-group">
                <label class="input-title">Descripción</label>
                <textarea class="form-control" name="descriptionTextarea" [(ngModel)]="product.description" rows="2"></textarea>
            </div>
            <!-- PRECIO PRODUCTO -->
            <div class="form-group">
                <label class="input-title">Precio unitario</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="number" name="cost" [(ngModel)]="product.cost" class="form-control" aria-label="Amount (to the nearest dollar)" min="50">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
            </div>
            <!-- CANTIDAD PRODUCTO -->
            <div class="form-group">
                <label class="input-title">Cantidad</label>
                <input type="number" name="quantityProduct" [(ngModel)]="product.stock" placeholder="Cantidad de ese producto"
                    class="form-control form-control-sm">
            </div>
            <!-- IMAGEN PRODUCTO -->
            <div class="form-group">
                <label class="input-title">Imagen</label>
                <input type="url" name="image" [(ngModel)]="product.image" placeholder="Image" class="form-control">                
            </div>
            <button class="btn btn-success btn-block" (click)="saveNewProduct()">
                Guardar
            </button >
        </form>
    </div>
</div>

<div class="card text-center">
    <h3>{{product.name == '' ? 'Escriba el nombre del Producto' : product.name}}</h3>
    <img [src]= "product.image == '' ? '/assets/no-disponible.png' : product.image" class="card-img-top">
    <p>{{product.description == '' ? 'Write description game' : product.description}}</p>
    <p>{{product.cost == '' ? 'Write cost product' : product.cost}}</p>
    <p>{{product.stock == '' ? 'Write cost product' : product.stock}}</p>
</div>
</div>