<div class="contenedor">
<div class="card">
    <div class="card-body">
        <form method="post">
            <!--CATEGORIA -->
            <div class="form-group">
                <label class="input-title">Categoría del producto</label>
                <select class="form-control" id="categorySelect">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <!-- NOMBRE PRODUCTO -->
            <div class="form-group">
                <label class="input-title">Nombre del producto</label>
                <input type="text" id="productName"  [(ngModel)]="product.name" class="form-control" placeholder="Ingrese el Producto" required>
                <small id="productHelp" class="form-text text-muted">Ingresa el nombre completo del
                    producto.</small>
            </div>
            <!-- DESCRIPCION PRODUCTO -->
            <div class="form-group">
                <label class="input-title">Descripción</label>
                <textarea class="form-control" id="descriptionTextarea" [(ngModel)]="product.description" rows="2"></textarea>
            </div>
            <!-- CANTIDAD PRODUCTO -->
            <div class="form-group">
                <label class="input-title">Cantidad</label>
                <input class="form-control form-control-sm" type="number" placeholder="Cantidad de ese producto"
                    id="quantityProduct">
            </div>
            <!-- PRECIO PRODUCTO -->
            <div class="form-group">
                <label class="input-title">Precio unitario</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" min="50">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
            </div>
            <!-- IMAGEN PRODUCTO -->
            <div class="form-group">
                <label class="input-title">Imagen</label>
                <!--<input type="url" name="image" [(ngModel)]="game.image" placeholder="Image" class="form-control">-->
                <input type="url" name="image" placeholder="Image" class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success">
            </div>
        </form>
    </div>
</div>

<div class="card text-center">
    <!-- <img [src]= "game.image == '' ? '/assets/no-disponible.png' : game.image" class="card-img-top">
        <h3>{{product.id}},{{product.title == '' ? 'Escriba el nombre del Producto' : product.title}}</h3>
        <p>{{product.description == '' ? 'Write description game' : product.description}}</p>
        <p>{{product.created_at | date: 'yyyy-MM-dd' }}</p> -->
    <img src="/assets/no-disponible.png" class="card-img-top" alt="">
    <h3>Nombre Producto</h3>
</div>
</div>