<div><h3>Plato: {{saucer.name}}</h3></div>
<h4>Descripción: {{saucer.description}}</h4>
<h5>Ingredientes</h5>
<div *ngFor="let saucerProduct of saucerProducts">
    <ul>
        <li>{{saucerProduct.name}}</li>
    </ul>
</div>
<form action="">
    <input type="button" value="Volver">
    <input type="submit" value="Guardar">
    <div class="form-group">
        <label for="principioSaucer">Principio</label>
        <select class="form-control" id="principioSaucer">
            <option *ngFor="let product of products">{{product.name}}</option>            
        </select>
    </div>
    <div class="form-group">
        <label for="proteinSaucer">Proteína</label>
        <select class="form-control" id="prinpioSaucer">
            <option *ngFor="let product of products">{{product.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="acompañanteSaucer">Acompañante</label>
        <select class="form-control" id="prinpioSaucer">
            <option *ngFor="let product of products">{{product.name}}</option>
        </select>
    </div>
</form>