<div class="container p-2">
  <!-- SHOWCASE -->
  <header class="showcase">
    <h2>¿Quienes somos?</h2>    
    <a href="#" class="btn">Conoce más</a>
  </header>

  <!-- Servicios -->
  <div class="servicios">
    <div>
      <img src="../../../assets/cazuelaMariscos.jpg">
      <h3>Cazuela de Mariscos</h3>
      <p>La cazuela de mariscos es un plato fuerte típico de la Región Caríbe de Colombia. Su preparación, así como sus ingredientes, suelen variar ligeramente en las diferentes regiones.</p>
      <a href="">Descubre más!</a>
    </div>
    <div>
      <img src="../../../assets/corrientazofrijoles.jpg">
      <h3>Corrientazo con Fríjoles</h3>
      <p>Un seco delicioso con papa chorreada, arroz blanco, tajadas de platano fritas,
        carne sudada, ensalada verde y frijoles rojos.</p>
      <a href="">Descubre más!</a>
    </div>
    <div>
      <img id="lentejas" src="../../../assets/corrientazolentejas.JPG">
      <h3>Corrientazo con Lentejas</h3>
      <p>Un seco delicioso con arroz blanco, tajadas de platano fritas,
        carne molida, aguacate y bastante lenteja.
      </p>
      <a href="">Descubre más!</a>
    </div>
  </div>

  <!-- Banner -->
  <section class="banner-universal-one">
    <div class="content">
      <h2>PIDE EL TUYO</h2>	
      <p>Lo dejamos en la puerta de tu casa!</p>
      <a href="" class="btn">Conoce más</a>
    </div>			
  </section>
</div>