<div class="container">
  <!-- SHOWCASE -->
  <header class="showcase">
    <h2>¿Quienes somos?</h2>    
    <a href="#" class="btn">Conoce más <i class="fas fa-angle-double-right"></i></a>
  </header>

  <!-- Servicios -->
  <div class="servicios">
    <div>
      <img src="../../../assets/cazuelaMariscos.jpg">
      <h3>Lorem ipsum dolor sit amet</h3>
      <p>Consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
      <a href="">Learn more <i class="fas fa-angle-double-right"></i></a>
    </div>
    <div>
      <img src="../../../assets/corrientazofrijoles.jpg">
      <h3>Lorem ipsum dolor sit amet</h3>
      <p>Consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
      <a href="">Learn more <i class="fas fa-angle-double-right"></i></a>
    </div>
    <div>
      <img src="../../../assets/corrientazolentejas.JPG">
      <h3>Lorem ipsum dolor sit amet</h3>
      <p>Consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
      <a href="">Learn more <i class="fas fa-angle-double-right"></i></a>
    </div>
  </div>

  <!-- Banner -->
  <section class="banner-universal-one">
    <div class="content">
      <h2>Titulo</h2>	
      <p>Lorem ipsum dolor sit amet.</p>
      <a href="" class="btn">Conoce más <i class="fas fa-angle-double-right"></i></a>
    </div>			
  </section>
</div>